#root {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.header {
  border: 1px solid black;
}

.notes-list {
  border: 1px solid black;
}

.note {
  border: 1px solid black;
}

.note-adder {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
